_archive/n8n-agent3-reviews.json
{
  "name": "Agent 3: Review Summarization (OPTIMIZED)",
  "nodes": [
    {
      "parameters": {},
      "id": "87f956f5-f7d6-434b-8c50-eef06ea1302a",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "restaurants",
        "limit": 100,
        "filters": {
          "conditions": [
            {
              "keyName": "google_review_summary",
              "condition": "is",
              "keyValue": "NULL"
            }
          ]
        }
      },
      "id": "4883733c-4a49-42cd-a1ec-a5fee6fda889",
      "name": "Fetch Restaurants",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "JZitKDg2Yi5Q0fPk",
          "name": "Supabase - Donde"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 20,
        "options": {}
      },
      "id": "dab8e6b4-ad1d-4778-9e13-890b168d0c00",
      "name": "Split in Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "url": "=https://maps.googleapis.com/maps/api/place/details/json?place_id={{ $json.google_place_id }}&fields=reviews&key=AIzaSyAvS1xrzTurYXbRP0uMGiPvWFSgJZ6J85k",
        "options": {}
      },
      "id": "a1f2b303-eaa2-4a0c-b439-920a6cda0edb",
      "name": "Fetch Reviews",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        608,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst batch = $('Split in Batches').all();\n\nconst restaurants = [];\nfor (let i = 0; i < items.length; i++) {\n  const reviews = items[i].json?.result?.reviews || [];\n  if (reviews.length > 0) {\n    restaurants.push({\n      id: batch[i].json.id,\n      name: batch[i].json.name,\n      reviews: reviews.slice(0, 5).map(r => `${r.rating}/5: ${r.text.substring(0, 200)}`).join(' | ')\n    });\n  }\n}\n\nif (restaurants.length === 0) return [];\n\nconst prompt = `Analyze these restaurants' reviews. Return ONLY JSON array:\n[{\"restaurant_id\":\"uuid\",\"summary\":\"text\",\"sentiment_score\":4.2,\"top_aspects\":[\"food\",\"service\"],\"has_red_flags\":false}]\n\n${restaurants.map((r,i) => `${i+1}. ${r.name} (${r.id}): ${r.reviews}`).join('\\n')}`;\n\nreturn [{json: {prompt, count: restaurants.length}}];"
      },
      "id": "5297c3fe-b8d9-47d5-8dd8-1754d405c806",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-lite:generateContent?key=AIzaSyBORC960xxftOaQe8Z_fWY6u3dt_7fTUGw",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {contents: [{parts: [{text: $json.prompt}]}]} }}",
        "options": {}
      },
      "id": "7ae6969f-3d34-4c7b-938a-3b5c3b455b7d",
      "name": "Call Gemini",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1008,
        0
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const resp = $input.first().json;\nlet data = [];\ntry {\n  let text = resp.candidates[0].content.parts[0].text.replace(/```json|```/g, '').trim();\n  data = JSON.parse(text);\n} catch (e) { return []; }\n\nconst now = new Date().toISOString();\nreturn data.map(d => ({json: {\n  id: d.restaurant_id,\n  google_review_summary: JSON.stringify({summary: d.summary, sentiment_score: d.sentiment_score, top_aspects: d.top_aspects, has_red_flags: d.has_red_flags}),\n  review_last_fetched_at: now\n}}));"
      },
      "id": "9304867e-fa42-49e4-bdf3-e51c9c381211",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        0
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "restaurants",
        "filterType": "string",
        "filterString": "=id=eq.{{ $json.id }}",
        "dataToSend": "autoMapInputData"
      },
      "id": "d6690b1e-dde2-4cbd-bd67-d008e46ced3c",
      "name": "Update DB",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1408,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "JZitKDg2Yi5Q0fPk",
          "name": "Supabase - Donde"
        }
      },
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Fetch Restaurants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Restaurants": {
      "main": [
        [
          {
            "node": "Split in Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split in Batches": {
      "main": [
        [],
        [
          {
            "node": "Fetch Reviews",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Reviews": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "Call Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Gemini": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "Update DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update DB": {
      "main": [
        [
          {
            "node": "Split in Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "eae47868-73de-49f8-a265-468d8a08eaef",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3ac4b04d2be991323392602cbf815c5e6661b46c00bdd5ec1576f7ce5b92c491"
  },
  "id": "2purDgYEGHlpOHgFk13Dy",
  "tags": []
}